<!doctype html>
<title>Stock Info</title>
<div class=page>
  <h1>Opening and Closing Stock Prices</h1>
  <div class=metanav>

    <h4>
      What stock would you like more information about?
    </h4>

    <form id='frontpage_form' method='post' action='index'>
      <p>
    Stock: <input type='text' name='stock_val' />
      </p>
      <p>
      <input type="checkbox" name="Opening"> Opening prices<br>
      <input type="checkbox" name="Closing"> Closing prices 
      </p>
      <p>
    <input type='submit' value='Submit'/>
      </p>
    </form>

  </div>
</div>
</html>